.bg{
    background-image: url("https://image.freepik.com/free-photo/flat-lay-office-desk-assortment-with-tablet_23-2148707959.jpg");
    height: 500px;
}

.bg1{
    background-color: #bbdfc8;
}

.bg2{
    background-color: #f0e5d8;
}

.bg3{
    background-color: #f0e5d8;
}